@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

/* Header*/
header{
    padding: 2rem;
    font-size: 1.4rem;
    background-color: #000000;
}

#logo {
    color: white;
    font-size: 1.2rem;
}

#nav{
    margin: 0 4rem;
    display: flex;
    font-size: 1.4rem;
    justify-content: space-between;
}

#planet-list{
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

#planet-list a{
    color: #fff;
    text-decoration: none;
}

#planet-list a:hover{
    color: #00a7f7;
}


/* Hero Section  */
#hero-section{
    width: 100%;
    height: 100vh;
    padding: 2rem;
    color: #fff;
    font-size: 1.4rem;
    background-color: #000;
}

#intro-content{
    display: flex;
    gap: 1rem;
    margin: 0 4rem;
}

#intro-text{
    width: 50%;
    padding: 4rem;
}

#intro-text h1{
    margin-bottom: 2rem;
    color: #c9c4c4;
    font-size: 3rem;
}

#hero-img{
    width: 50%;
    height: 60vh;
    margin-top: 3rem;
    background: url(./img/sherloc.jpg) no-repeat center/cover;
    border-radius:58% 42% 78% 22% / 30% 60% 40% 70% ;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
}

/* Main Section  */
.title-div{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

#main-section-title{
    padding: 2rem;    
    color: #ffffff;
    font-size: 3rem;
    text-align: center;
}

.cases{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    padding: 6rem 2rem;
    background-color:#000;
}

.case{
    max-width: 20%; 
    padding: 1rem;
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
    border: 1px solid #3d3c3c;
}

.case img{
    width: 100%;
    border-radius: 1rem;
} 


.case:hover{
    cursor: pointer;
    transform: scale(1.02);
    border: 1px solid #00a7f7;
}



/* Explore Section  */
/* #explore-section{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}
.card{
    max-width: 70%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: #000;
    font-size: 1.2rem;
    border-radius: 1rem;
}

.btn{
    width: 30%;
    padding: 1rem;
    font-size: 1.4rem;
    border-radius: 0.8rem;
    background-color: #ffffff;
    border: none;
}

.btn a{
    color: #000;
    text-decoration: none;
}

.btn:hover{
    cursor: pointer;
    transform: scale(1.02);
} */


/* Footer  */
footer{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #000;
    font-size: 2rem;
}

footer a{
    font-size: 1rem;
    text-decoration: none;
    color: #ffffff;
}


/* Media Queries  */
@media screen and (max-width:1080px) {
    #nav{
        margin: 0 1rem;
    }

    #intro-content{
        margin: 0;
    }

    #intro-text{
        padding: 1rem;
    }
}

@media only screen and (max-width:1024px){
    #nav{
        margin: 0;
    }

    #planet-list{
        display: none;
    }

    #hero-section{
        padding: 0;
    }

    #intro-content{
        position: relative;
        margin: 0;
        align-items: center;
        font-size: 2rem;
    }

    #intro-text h1{
        text-shadow: 4px 4px #000;
    }

    #intro-text{
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 3rem;
    }

    #hero-img{
        width: 100%;
        height: 100vh;
    }

    #main-section-title{
        margin-top: 4rem;
    }

    .case{
        min-width: 90%;
    }
    #explore-section h1 {
        font-style: italic;
        display: flex;
     
    }
    .card{
        display: flex;
        justify-content: center;
        align-items: center;
      
    }
   


}



/* .btn {
    margin-top: 20px;
    margin-left: 25%;
    width: 50%;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #ffffff;
    box-shadow: inset 0 0 0 2px #616467;
    background-color: transparent;
    height: 48px;
    :hover{
        color: #fff;
        background-color: #ffffff;
    }

}
 */

 #case-section{
    background-color: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .case-button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
 }
 .case-button button {
    /* padding: 20px;
    border-radius: 60px;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    cursor: pointer; */

    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #616467;
    box-shadow: inset 0 0 0 2px #616467;
    background-color: transparent;
    height: 48px;
    padding: 20px;
    height: 60px;
    
 }
 .case-button button:hover{
    color: #fff;
    background-color: #616467;
}

 .pop-up-case-desc{
    border-radius: 20px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: red;
    padding: 20px;
    z-index: -1;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
   display: felx;
    opacity: 1;
   
 }
 .pop-up-case-desc.open {
    opacity: 1;
    z-index: 999;
 }


 .pop-up-case-desc .form .form-element{
    margin: 15px 0;
 }

 .pop-up-case-desc .form .form-element input[type = "text"],
 .pop-up-case-desc .form .form-element textarea {
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    margin-top: 5px;
 }
 .pop-up-case-desc .form .form-element textarea {
    height: 100px;
 }
 .pop-up-case-desc .form .form-element button {

    width: 100%;
    height: 40px;
    background: black;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
 }
















